<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div id="left-div">
		<br>
		<img src="/coverdark.jpg" style="border-radius: 50%;">
	</div>
	<div id="right-div">
		<br>
		Messenger<br><br>
		<div id="login_div">
			<form action="/signup" method="post">
				<input type="text" name="name" placeholder="Enter Name" class="login_input">
				<input type="text" name="username" placeholder="Create Username" class="login_input">
				<input type="password" name="user_pwd" placeholder="Create Password" class="login_input"><br>
				<input type="password" name="re_user_pwd" placeholder="Rewrite Password" class="login_input"><br>
				<button style="width: 76%; border-width: 0px; color: white; background-color: red;" class="login_input">Sign Up</button>
			</form>
		</div>
		<br>
		<br>
	</div>
</body>
</html>